.text-area {
    -fx-text-fill: #ffffff;
    -fx-font-size: 25px;
    -fx-font-family: "Helvetica Neue Light";
}

.text-area .content {
    -fx-background-color: black;
}

.text-area *.text {
    -fx-text-alignment: right;
}

.button {
    -fx-background-radius: 0;
    -fx-background-color: #E0E0E0;
    -fx-font-family: "Helvetica Neue Light";
    -fx-font-size: 21px;
}

.button:pressed {
    -fx-background-color: red;
}

.operators {
    -fx-background-color: #FE9340;
    -fx-text-fill: #ffffff;
}

.operators:pressed {
    -fx-background-color: darkorange;
}

.topOperators {
    -fx-background-color: #D6D6D6;
}