.text-area {
	-fx-text-fill: #add8e6;
	-fx-font-size: 25px;
	-fx-font-family: "Lucida Console";
}

.text-area .content {
	-fx-background-color: black;
}

.text-area *.text {
	-fx-text-alignment: right;
}

.button {
	-fx-background-radius: 0;
	-fx-background-color:  blue;
	-fx-font-family: "Lucida Console";
	-fx-font-size: 21px;
}

.button:pressed {
	-fx-background-color: #87CEFA;
}

.operators {
	-fx-background-color: #FE9340;
	-fx-text-fill: #ffffff;
}

.operators:pressed {
	-fx-background-color: darkorange;
}

.topOperators {
	-fx-background-color: blue;
}